@{


    Layout = "~/Views/Shared/_Layoutindex.cshtml";

}



<style>
    #content {
        margin: 0 auto;
        width: 960px;
        background-color: greenyellow
    }

        #content h1 {
            text-align: center;
            text-decoration: underline;
        }

    table {
        width: 100%;
        height: 40%;
    }

        table tr td {
            width: 40%;
            text-align: center;
        }

    #errorDiv {
        background-color: red;
        color: #FFFFFF;
        padding-left: 30px;
    }
</style>





<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://momentjs.com/downloads/moment.js"></script>
<script>
    function xyz() {
        var status = true;
        var project_Name = document.getElementById("Name").value;
        var project_Status = document.getElementById("Status").value;
        var project_Completed = document.getElementById("Completed").value;
        var project_Description = document.getElementById("Description").value;

        if (project_Name == "") {
            document.getElementById("success").innerHTML = "Error: Please Enter Project  Name";
            document.getElementById("div1").style.color = "Red";
            status = false;
        }
        else {
            document.getElementById("div1").innerHTML = "";
        }

        if (document.getElementById("div2").value == "") {
            alert("Please select value");
            document.getElementById("div2").focus();

        }
        var frmData;
        if (status == true) {

            frmData = new FormData();

            frmData.append("Project_Name", project_Name);
            frmData.append("Project_Status", project_Status);
            frmData.append("Project_Completed", project_Completed);
            frmData.append("Project_Description", project_Description);


        }
        console.log(frmData)


        $.ajax({

            url: "/Project/SaveProject",
            type: "Post",
            data: frmData,
            contentType: false,
            processData: false,
            dataType: "json",
            success: function (result) {
                if (result["status"] == true) {
                    document.getElementById("success").innerHTML = "status:true";
                    document.getElementById("success").innerHTML = result["message"];

                    window.location.href = "/Project/Update?id=" + result["id"];
                }
                else {
                    document.getElementById("success").innerHTML = "status:true";
                    document.getElementById("success").innerHTML = result["message"]

                }


            },
            error: function (xhr, status, error) {
                var err = eval("(" + xhr.responseText + ")");
                alert("Please Fill the form Correctly");
            }
        }

        );




    }


</script>





<div id="content">
    <h1>Project Details</h1>
    <div id="errorDiv"></div>
    <table>
        <tr>
            <td>Project Name:-</td>
            <td><input type="text" placeholder=" Mention your Project" id="Name"><div id="div1"></div></td>
        </tr>
        <tr>

            <td>Project Status: -</td>
            <td>
                <select id="Status">
                    <option value="">Select an Option</option>
                    <option value="completed">completed</option>
                    <option value="progress">progress</option>
                    <option value="pending">pending</option>
                </select> <div id="div2"></div>
            </td>
        </tr>
        <tr>
            <td>Project Completed:-</td>
            <td><input type="date" id="Completed"> <div id="div3"></div></td>
        </tr>
        <tr>
            <td>Project Description:-</td>
            <td>
                <textarea rows="5" cols="30" placeholder="Write Project Description." id="Description">
            </textarea> <div id="div4"></div>
            </td>
        </tr>
        <div id="success">
        <td colspan="2"><input type="button" id="Message" value="Save" onclick="xyz()"> </td>
</div>
        </tr>
    </table>
</div>

